body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0   ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: #578dc0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: start;
    width: 100%;
    max-width: 400px;
}

.form-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #f0f0f0;
}

.form-container input {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-container label{
    color: #ffffff;
}

.form-container button {
    padding: 10px 20px;
    background-color: #294c87;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.form-container button:hover {
    background-color: #264478;
}
